/* img{
    width: 400px;
} */
*{
    padding:0;
    margin: 0;
}
header{
    /* background-color: aquamarine; */
}
nav { display: flex;
    justify-content: space-between;

padding: 20px 15px;
}
/* all button  */
.common-btn{background-color:#fd6e0a;
  padding: 6px 15px;
  border-radius:8px;
  font-weight:bold;
  font-size: 14px;
  color:white;
cursor: pointer;
}

ul{
    display: flex;
   list-style: none;
   gap: 15px;
   align-items: center;
}
ul li a{
    text-decoration: none;

}

.logo{
    color: #d82525;
}
.hero-prent-root{
    background-color:  #f1e5dc;

}
.hero-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    
}
.container{
    max-width: 1200px;
    margin: auto;
}
.hero-left h2 { 
    font-weight: bold;
    font-size: 40px;
    color: #080808; 
    margin-top: 12px;
}

.hero-left-1{
    font-size: 30px;
    font-weight: 600px;
}
.common-button{
  background-color: white;
     padding: 6px 15px;
  border-radius:8px;
  font-weight:bold;
  font-size: 14px;
color:#fd6e0a ;
border:1px solid #fd6e0a;
cursor: pointer;

}
.hero-left-butn-prent{
  margin-top: 12px;
}
.about-prent{
    background-color:#fff8f3;
    margin:80px auto;
    border-radius: 10px;
    padding: 80px;
    text-align: center;
}
.about-prent{
    margin-top: 10px 0px;
}
.about-info{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.about-info .box{ background-color:#f8eae0;

}
.what-i-do-prent{
    margin: 60 auto;
    text-align: center;

}
.what-i-do{
    display: flex;
    margin-top:20px ;
    
    justify-content: space-between;
}
.contai{
    max-width:1400px;
    margin: auto;
}

.what-i-do-parent{
    margin: 40px auto;
    text-align: center;
}
.what-i-do-container{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.what-i-do-container .what-i-do-card{ border:1px solid #fd6e0a;
    padding:50px;
    text-align: left;
    border-radius:10px;

}
.what-i-do-container .what-i-do-card p{
    color: #757575;
    font-size:10px 10px;
}